* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(135deg, #1a1a1a, #3a3a3a);
}


.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    margin: 20vh auto;
    border-radius: 10px;
    background: linear-gradient(135deg, #000000, #1e1e1e);
    box-shadow: 0 20px 30px rgba(0,0,0,0.7);
    border: 2px solid #000;
}


.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}


.item {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}


.item:first-child{
    margin-left: -100%;
}


.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: transparent;
    user-select: none;
    z-index: 1;
}


.action-button:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}
